.challenge-overview {
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  height: 400px;
  overflow-y: scroll;
  position: relative;
}

.challenge-days {
  width: 150px;
}

.commitments-container {
  width: 800px;
  display: flex;
  flex-direction: row; 
}

.toggle-create-form-button {
  color: black;
  height: 50px;
}