.challenge-overview {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  height: 400px;
  overflow-y: scroll;
}

.challenge-days {
  width: 150px;
}

.commitments-container {
  width: 800px;
  display: flex;
  flex-direction: row; 
}