.commitment-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.calendar-block {
  background-color: antiquewhite;
  color: black; 
  max-height: 30px;
  min-height: 30px; 
  margin: 0px;
  overflow-y: visible;
  position: relative;
}

.commitment-item {
  display: block;
}

.table-header {
  background-color:rgb(104,194,50);
  display: flex;
  flex-direction: column;
  height: 100px;
}

.group-header {
  justify-content: space-around;
}

.group-title {
  color: white;
}